*{
    font-family: 'Lato', sans-serif;
}
#wrapper-skills{
    display: flex;
}

#input1{
    padding-right: 10px;
}

#select-butto{
    position: absolute;
    top: 0;
    right: 0;
}

.search_input{
    width: 500px;
    border: solid darkorange;
}

.search_button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 5px;
    font-weight: bold;
    border: 0;
    color: #fff;
    background: #ff5000;
    font-size: 12px;
    margin-bottom: 10px;
}


.list-table{
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    height: available;
    font-size: 20px;
    font-family: sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

th, td{
    text-align: center;
    border: 1px black;
    padding: 10px;
}

.selectButtonList:hover{
    cursor: pointer;
}

.list_form{
    max-width: 100%;
}

.loginBody{
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right:  300px;
    background-color: white;
}

.loginForm{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    border: 1px;
    border: solid;
    border-color: darkorange;
    background: white;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
    border-radius: 10px;
}
.loginForm:hover{
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

.card {
    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.15);
    transition: all 0.4s ease;
    border-radius: 5px; /* 5px rounded corners */
    width: 200px;
    padding: 20px;
    border: solid darkorange;
    margin-right: 20px;
    float: left;
    background-color: white;
}

.card:hover{
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}

.site-header{
    border: solid;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border-color: darkorange;
}

.headerLogo{
    padding: 10px;
    float: left;
}

.headerTitle{
    overflow: hidden;
}

.headerLink {
    float: right;
    font-size: 10px;
    text-decoration: none;
    color: black;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    transition: color .3s linear;
}

.headerLink:visited{

}

.headerLink:hover{
    color: #ff5000;

}

.bodyWebsite{
    margin: 50px 300px;
    padding: 10px;
    background-color: lightgray;
}

.labelEmail{
    font-size: 30px;
    color: darkorange;
}

.labelPassword{
    font-size: 30px;
    color: darkorange;
}

.submitLogin{
    background-color: white;
    width: 100px;
    padding: 10px;
    font-size: 20px;
    color: black;
    border-color: darkorange;
    transition: background-color 1s;
}

.submitLogin:hover{
    cursor: pointer;
    background-color: darkorange;
    transition-timing-function: ease;
}

.listContainer{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.navContainer{
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-bottom: 100px;
    margin-right: 10px;
}

nav {
    justify-content:space-between;
    align-items: stretch;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
    color: darkorange;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
    transition: background-color, padding, 1s;
}

nav a:hover{
    background-color: darkorange;
    padding: 7px;
    transition-timing-function: ease;
}

.paginationLinks{
    margin: 10px;
    align-items: center;
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: darkorange;
    border-radius: 20px;
}

.buttonLinkForm{
    float: right;
}

.buttonLink{
    font-size: 15px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin: 20px;
}

.deleteSelectedButton{
    margin: 20px;
}

.refreshButton{
    font-size: 15px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.formInput{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}

.deleteID{
    float: right;
}

.content{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.errorBox{
    color: #D8000C;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 40px;
}

.errorMessages{
    align-self: center;
    color: white;
}


