*{
    font-family: 'Lato', sans-serif;
}
#wrapper-skills{
    display: flex;
}

#input1{
    padding-right: 10px;
}

#select-butto{
    position: absolute;
    top: 0;
    right: 0;
}

.search_input{
    width: 500px;
    border: 2px solid darkorange;
}

.search_button {

    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 5px 5px;
    font-weight: bold;
    border: 0;
    color: #fff;
    background: #ff5000;
    font-size: 12px;
}


.list-table, td{
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
    height: available;
}

th, td{
    text-align: center;
}

.list_form{
    max-width: 100%;
}